html {
    font-family: 'Roboto', 'Open Sans', arial, sans-serif
}
.container {
    width: 1600px;
    height: auto;
}
 .nav-bar p {
    float: left;

}
.logo a {
    text-decoration: none;
}
.nav-menu li {
    float: right;
    list-style: none;
}

.list-item a {
    text-decoration: none;
}
.products-item-list-top li {
    float: left;
}
.products a {
    text-decoration: none;
}


.products  {
    list-style: none;
}

.products-item-list-bottom li {
    float: left;
}
img {
    display: inline-block
}



.clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

/* .featured-products-heading {
    clear: both;
}

.latest-news {
    clear: both;
} */


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}