html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  
  font-family: "Roboto", "Open Sans", arial, sans-serif;
  width: auto;
}

.container {
  width: 1110px;
  padding: 0;
  margin: 0 auto;
}

.nav-bar nav {
  padding: 40px 0px;
  vertical-align: middle;
  margin-bottom: 65px;
}
.logo {
  display: inline-block;
  width: 76px;
  height: auto;
  float: left;
  margin: 0;
}
.nav p {
  float: left;
}
.nav ul {
  float: right;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  width: 480px;
}
.logo a {
   text-decoration: none;
  display: inline-block;
  font-size: 30px;
  line-height: 32px;
  font-style: "Roboto";
  font-weight: 300;
  color: #555252;
}
.logo a::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.nav-menu li {
  float: left;
  list-style: none;
}
.list-item a {
  font-family: Open Sans;
  font-size: 14px;
  line-height: 11px;
  font-weight: 700;
  color: #0f0101;
  text-indent: -20px;
}
.nav-menu .home {
  margin-right: 34px;
}
.nav-menu .about {
  margin-right: 38px;
}
.nav-menu .page {
  margin-right: 30px;
}
.nav-menu .shop {
  margin-right: 27px;
}
.nav-menu .blog {
  margin-right: 35px;
}
.nav-menu .contact {
  margin-right: 0px;
}
.list-item a {
  text-decoration: none;
}

/* Main */
h2 {
  font-family: Roboto;
  font-weight: 900;
  font-size: 48px;
  line-height: 32px;
  color: #515151;
}
.featured-products h2 {
  margin-left: 328px;
}
.featured-products h2::after {
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  content: "";
  margin-top: 25px;
  margin-left: 146px;
}
.products-link {
  background: #323232;
}
.products-item-list p{
  width: 255px;
  height: 40px;
}
.products-item-list p::after {
display: inline-block;
height: 40px;
width: 55px;
background-color: #8c8c8c;
color: #ffffff;
content: '';
}


 /* .products-link a:
.featured-products {
  font-size: 0px;
} */
.heading-block ul {
  padding-left: 0px;
}

.products-item-list li {
  float: left;
  list-style: none;
  margin-right: 30px;
  margin-bottom: 30px;
  font-size: 0;
}
.products-item-list li:nth-child(4n + 4) {
  margin-right: 0px;
}

.products-link a {
    display: inline-block;
    height: 40px;
    width: 200px;
  text-decoration: none;
  font-family: Roboto;
  font-weight: 900;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  background: #323232;
  padding-left: 13px;
  padding-top: 4px;
  
  
 }
.first-row p::after {
    content: '26$';
    padding-left: 13px;
    padding-top: 4px;
}
.second-row p::after {
    content: '31$';
    padding-left: 13px;
    padding-top: 4px;
}
.third-row p::after {
    content: '21$';
    padding-left: 13px;
    padding-top: 4px;
}
.four-row p::after {
  content: '56$';
  padding-left: 13px;
  padding-top: 4px;
}
. p::after {
    content: '56$';
    padding-left: 13px;
    padding-top: 4px;
}
.products-list p::after {
  display: inline-block;
  float: right;
  width: 55px;
  height: 40px;
  font-family: Roboto;
  font-weight: 900;
  font-size: 18px;
  line-height: 32px;
  color: #ffffff;
  vertical-align: middle;
 }
.heading-block {
  margin-bottom: 68px;
}
.products-list a:hover,
.products-list a:focus {
    background-color: #1abc9c;
}
.products-list:hover .products-link {
    background-color: #7fd9c7;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}



/* footer */
.news-item {
    padding-left: 0;
}
.latest-news-block li {
  /* display: inline-block; */
  height: 500px;
  width: 350px;
  float: left;
  list-style: none;
}

.latest-news-block li:not(:last-child) {
    margin-right: 30px;
}

.latest-news h2 {
    margin-left: 400px;
} 




.news-item h3 {
  font-family: opensans;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #555252;
}
.news-list h3::after {
    display: block;
    width: 137px;
    height: 3px;
    background-color: #1abc9c;
    content: "";
    margin-top: 2px;
    
  }
.latest-news h2::after {
  display: block;
  width: 164px;
  height: 7px;
  background-color: #1abc9c;
  content: "";
  margin-top: 25px;
  margin-left: 68px;
}


.pad::before {
  display: inline-block;
  height: 261px;
  width: 347px;
  content: "";

  background-image: url(../img/pad.jpg);
}
.women::before {
  display: inline-block;
  height: 261px;
  width: 347px;
  content: "";

  background-image: url(../img/women.jpg);
}
.bus::before {
  display: inline-block;
  height: 261px;
  width: 347px;
  content: "";

  background-image: url(../img/bus.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.news-item {
    font-size: 0;
}

.news-item p {
    font-family: opensans;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #555252;
}

.button {
    font-family: opensans;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    color: #ffffff;
    background-color: #4ec6ab;
    height: 51px;
    width: 160px;
    border: none;
    margin-bottom: 46px;
}


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
