@media screen and (min-width: 320px) and (max-width: 767px) {
.nav-menu {
    min-height: 170px;
    text-align: center;
}
    .nav-bar {
height: 384px;
    } 

.nav-bar-block {
    
    padding-top: 20px;
    margin-bottom: 40px;
    /* min-height: 170px; */
}

.logo {
    font-size: 20px;
    line-height: 48px;
    text-align: center;

    
}

.button-box {
    min-height: 190px;
    margin: 0 auto;
    }
.button-header {
    font-size: 30px;
    line-height: 36px;
}
.button-under-header {
    font-size: 18px;
    line-height: 22px;
}

.main-block {
    min-height: 1050px;
    margin-bottom: 60px;
}
.partners-header {
    margin-bottom: 20px;
}
.partners-button {
    display: block;
    margin: 0 auto;
}
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .nav-bar {
        margin-top: 50px;
        
    }
   
    .nav-bar-block {
        height: 420px;
    }
    .logo {
        font-size: 20px;
        line-height: 50px;
    }
    .menu-items a {
        font-size: 14px;
        line-height: 17px;
    }
    .button-under-header {
        font-size: 24px;
    }
    .button-header {
        font-size: 52px;
        
    }
    .partners-header {
        margin-bottom: 35px;
    }
 .button-box {
     margin-top: 50px;
 }
 .partners-button {
     margin-bottom: 40px;
 }
}
@media screen and (min-width: 1200px) {
    .nav-bar {
        margin-top: 20px;
        

    }
    .logo {
        font-size: 20px;
        line-height: 50px;
    }
    
    .nav-bar-block {
        height: 430px;
    }
    .partners-header {
        margin-bottom: 40px;
    }
    .button-header {
        font-size: 52px;
       
    }
    .button-box {
        height: 240px;
    }
.main-block {
    height: 370px;
}
.partners-button {
    margin-bottom: 70px;
}
    }

