html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Roboto", "Open Sans", arial, sans-serif;
  width: auto;
}

.container {
  width: 1110px;
  padding: 0;
  margin: 0 auto;
}
/* .nav-bar {
  margin-left: 245px;
} */

.nav-bar nav {
  padding: 40px 0px;
}
.logo {
  display: inline-block;
  height: auto;
  float: left;
  margin: 0;
}

.nav ul {
  float: right;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  width: 470px;
}
.logo a {
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  line-height: 32px;
  font-family: Roboto;
  font-weight: 300;
  color: #555252;
}
.logo a::first-letter {
  font-weight: 900;
  color: #1abc9c;
}

.nav-menu li {
  float: left;
  list-style: none;
}
.list-item a {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 11px;
  font-weight: 700;
  color: #0f0101;
  text-indent: -20px;
}
.list-item a:hover,
.list-item a:focus {
  color: #1abc9c;
}
.nav-menu .home {
  margin-right: 32px;
}
.nav-menu .about {
  margin-right: 36px;
}
.nav-menu .page {
  margin-right: 28px;
}
.nav-menu .shop {
  margin-right: 25px;
}
.nav-menu .blog {
  margin-right: 33px;
}
.nav-menu .contact {
  margin-right: 0px;
}
.list-item a {
  text-decoration: none;
}
/* main block with slide */




.image-block {
font-size: 0;
}
.slides-block-text {
  position: relative;
}
.main-slide {
  background-image: url("../img/main-slide.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 600px;
  background-position: center;
  position: relative;
}
.slider ul {
  padding: 0;
  margin: 0;
}
.main-slide::after {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 2, 0.52);
  background-position: center;
  width: 100%;
  min-height: 600px;
  z-index: 2;
}

.slide-hedder {
  position: absolute;
  font-family: roboto;
  font-size: 60px;
  font-weight: 900;
  line-height: 82px;
  width: 820px;
  height: 75px;
  color: #ffffff;
  left: 190px;
  bottom: 327px;
  z-index: 3;
  margin: 0;
}
.text-under-hedder {
  position: absolute;
  font-family: Roboto;
  font-size: 24px;
  font-weight: 300;
  line-height: 54px;
  width: 820px;
  height: 54px;
  color: #ffffff;
  z-index: 3;
  left: 190px;
  bottom: 272px;
  margin: 0;
}
.ctrl-button {
  position: absolute;
  display: inline-block;
  height: 104px;
  width: 104px;
  border: none;
}
.next {
  background-color: rgb(26, 188, 156);
  right: 0px;
  bottom: 268px;
  z-index: 3;
  font-size: 100px;
  line-height: 11px;
  color: #ffffff;
  cursor: pointer;
}

.prev {
  background-color: rgb(78, 198, 171);
  opacity: 0.651;
  left: 0px;
  bottom: 268px;

  z-index: 3;
  font-size: 100px;
  line-height: 11px;
  color: #ffffff;
  cursor: pointer;
}

/* second block of main */
.bottom-box {
  position: relative;
}
.bottom-box-backgraund {
  background-color: #e9f0fd;
  position: absolute;
  min-height: 676px;
  min-width: 100%;
 
}

.bottom-box h3 {
  text-align: center;
  padding-top: 100px;
  margin: 0;
  font-family: roboto;
  font-size: 48px;
  font-weight: 900;
  line-height: 32px;
  color: #515151;
  margin-bottom: 80px;
  position: relative;

}

.bottom-box h3::after {
  display: block;
  width: 178px;
  height: 7px;
  background-color: #1abc9c;
  content: "";
  margin-top: 25px;
  margin-left: 475px;
  z-index: 2;
}
.item-list {
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
  position: relative;
  font-size: 0;
  z-index: 2;
}
.item-list li {
  position: relative;
  width: 255px;
  height: 323px;
}
.products {
  list-style: none;
  float: left;
}
.products-signature {
  position: absolute;
  bottom: 0px;
}

.products a {
  padding: 1px;
  float: left;
  bottom: 0px;
  display: inline-block;
  background-color: #323232;
  color: #ffffff;
  font-family: roboto;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-decoration: none;
  width: 200px;
  height: 40px;
}
.products p {
  float: right;
  display: inline-block;
  background-color: #8c8c8c;
  width: 55px;
  height: 40px;
  margin: 0;
}

.products:not(:last-child) {
  margin-right: 30px;
}

.products-variants {
  display: block;
  height: 261px;
  width: 235px;
  background-color: rgba(0, 0, 0, 0.55);
  position: absolute;
  top: 10px;
  right: 10px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.last-block p {
  margin-block-start: 0;
}
.products-signature {
  color: #ffffff;
  font-family: roboto;
  font-size: 18px;
  font-weight: 900;
  line-height: 32px;
}
.products-signature a {
  padding-top: 4px;
  padding-left: 12px;
}
.products-signature p {
  padding-top: 4px;
  padding-left: 12px;
}
.products-variants {
  display: none;
}
.top-buttoms button {
  width: 50px;
  height: 50px;
  background: transparent;
  border: 1px, solid rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 50%;
  cursor: pointer;
}

.top-buttoms {
  padding-top: 80px;
  padding-left: 35px;
  margin-bottom: 8px;
  
}
.top-buttoms button:not(:last-of-type) {
  margin-right: 8px;
}
.products-variants .products-variants-like {
  background-image: url("../img/heart.png");
}

.products-variants .products-variants-share {
  background-image: url("../img/arrows.png");
}
.products-variants .products-variants-remind {
  background-image: url("../img/clock.png");
}

.lower-button button {
  display: block;
  width: 174px;
  height: 50px;
  background-color: #323232;
  opacity: 1;
  border: 1px, solid rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border-width: 1px;
  color: #ffffff;
  font-family: "open sans";
  font-size: 14px;
  line-height: 32px;
  margin-left: 35px;
  padding-right: 22px;
  vertical-align: middle;
  text-align: right;
  cursor: pointer;
  position: relative;
}
.lower-button button::before {
  display: inline-block;
  width: 48px;
  height: 48px;
  background-image: url("../img/basket.png");
  content: "";
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 50%;
  margin: 0px;
  position: absolute;
  left: 0px;
  top: 0px;
  
}

.item-list li:hover .products-variants {
  display: block;
}
.item-list li:hover .products-signature a {
  background-color: rgba(26, 188, 156);
}
.item-list li:hover .products-signature p {
  background-color: rgba(127, 217, 199);
}
.products-variants button:hover {
  background-color: rgba(26, 188, 156);
  opacity: 100%;
}
.item-list li:focus .products-variants {
  display: block;
}
.item-list li:focus .products-signature a {
  background-color: rgba(26, 188, 156);
}
.item-list li:focus .products-signature p {
  background-color: rgba(127, 217, 199);
}
.products-variants button:hover {
  background-color: rgba(26, 188, 156);
  opacity: 100%;
}
.products-variants button:focus {
  background-color: rgba(26, 188, 156);
  opacity: 1;
}

/* footer */

.last-block p {
  width: auto;
  font-family: "open sans";
  font-size: 16px;
  line-height: 28px;
  font-weight: 600;
  color: #fefefe;
  text-align: center;
  padding-top: 30px;
  position: relative;
}

.last-block a {
  color: #46bfa9;
  text-decoration: none;
  /* position: absolute; */
}
/* .last-block a {
  position: absolute;
} */
.adress-box-backgraund {
  background-color: #323232;
  min-height: 88px;
  min-width: 100%;
  position: absolute;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
