$main-font-stack: "Montserrat", "Roboto", "Kaushan Script", Arial, cursive, sans-serif;
$main-font-header-text: "Montserrat", Arial, cursive, sans-serif;
$second-main-font: "Roboto", Arial, cursive, sans-serif;
$cursive-font: 'Kaushan Script', cursive;
$main-color-header-text: #ffffff;
$nav-hover-color: #fce38a;
$underline-link-color: #f38181;
$icon-amazing-color: #1cd7ad;