.amazing-list__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    list-style: none;
    flex-basis: 400px;
    padding-left: 100px;
    font-family: $second-main-font;
    font-size: 15px;
    font-weight: 400;
    max-width: 400px;
    min-height: 84px;
    }
    .amazing-list__icon {
    width: 34px;
    height: 34px;
    display: block;
    position: absolute;
    transform: translate( -70px, -40px );
    top: 40px;
    }
    .amazing-list__icon-types {
        fill: $icon-amazing-color;
    }
    .amazing-list_header{
    margin: 0;
    font-family: $main-font-header-text;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-transform: uppercase;
    }
    
    .amazing-list__property {
        font-family: $second-main-font;
        font-size: 15px;
        font-weight: 400; 
        line-height: 24px;
        margin: 0;
        max-width: 290px;
    }