.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #e5e5e5;
    min-height: 65px;
    font-family: $main-font-header-text;
    font-size: 14px;
    line-height: 17px;
    font-weight: 500;
    color: #000000;
}
.footer__signature {
    display: flex;
    justify-content: flex-start;

}
.footer__link {
    padding-left: 3px;
    color: $underline-link-color;

}
  
.footer__form {
    font-size: 0;
    display: flex;
    align-items: center;
}
.footer__input {
    color: #cccccc;
    border: 1px solid #e5e5e5;
    height: 40px;
    width: 230px;
    padding: 12px;
    font-family: $second-main-font;
    font-weight: 200;
    font-style: italic;
    font-size: 15px;
    line-height: 24px;
    border-right: none;
}
  
.footer__button {
    border-style: none;
    background: #95e1d3;
    color: $main-color-header-text;
}