.team-under-header {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: $second-main-font;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    max-width: 950px;
    min-height: 85px;
    margin: 0;
  }