.team-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 720px;
    &__signature {
        display: flex;
        min-height: 50px;
        align-items: center;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        min-height: 560px;
    }
    &__unit-position {
        font-family: $second-main-font;
        font-size: 15px;
        font-weight: 200;
        line-height: 24px;
    }
    &__unit {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        &:hover .modal-menu {
            display: block;
            }
        &--translate {
            position: relative;
            width: 380px;
            height: 470px;
            transition: transform 200ms linear;
            z-index: 1;
            &:hover {
                transition: transform 200ms linear;
                transform: translate(-10px, -10px);
                cursor: pointer;
                }
            }
        }
    }
