html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: "Montserrat", "Roboto", "Kaushan Script", Arial, cursive,
    sans-serif;
}

/* NAV - BAR */
.logo {
    /* padding-bottom: 12px; */
}
.logo a {
    color: #95e1d3;
    font-style: montserrat;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    text-decoration: none;
    list-style: none;
  border-bottom: solid transparent 3px;
  transition-property: 
  border-color,
  color;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-delay: 0;
}
.logo a:hover {
  transition-property: 
  border-color,
  color;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-delay: 0;
  border-color: #f38181;
  color: #f38181;
  cursor: pointer;
  }
.container {
  width: 1200px;
  margin: 0 auto;
}
.nav-bar {
  display: flex;
  min-height: 84px;
  align-items: center;
  justify-content: space-between;
  /* padding-top: 20px;
  margin-bottom: 115px; */
}
.nav-menu {
  display: flex;
  margin: 0;
  padding: 0;
  min-width: 490px;
  /* padding-top: 12px; */
  /* flex-basis: 381px; */
  flex-wrap: wrap;
  justify-content: space-between;
}
.nav-menu a {
    text-decoration: none;
    font-style: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    color: #95e1d3;
}
.nav-menu li {
  list-style: none;
  border-bottom: solid transparent 3px;
  transition-property: 
  border-color,
  color;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-delay: 0;
  
  
}
.nav-menu li:hover {
    transition-property: 
    border-color;
    transition-duration: 200ms;
    transition-timing-function: linear;
    transition-delay: 0;
    border-color: #f38181;
    cursor: pointer;
    }
/* .nav-menu li:focus {
        transition-property: 
        border-color;
        transition-duration: 200ms;
        transition-timing-function: linear;
        transition-delay: 0;
        border-color: #f38181;
        } */

.nav-menu li:hover a {
transition-property: color;
transition-duration: 200ms;
transition-timing-function: linear;
transition-delay: 0;
color: #f38181;
cursor: pointer;
    }
/* BODY */
.amazing-services {
    display: flex;
    align-content: flex-end;
    flex-wrap: wrap;
    min-height: 528px;
}
.hader-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap;
  align-content: flex-end; */
    min-width: 1200px;
  min-height: 230px;
  color: #333333;
  /* margin-bottom: 62px; */
}
.hader-block h2 {
  font-family: Montserrat;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
}
.header-underline-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
}
.hader-block h3 {
    font-family: 'Kaushan Script';
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    padding: 0;
    /* min-width: 1200px; */
    display: flex;
    justify-content: center;
    /* margin-bottom: 22px; */
}
.amazing-hader {
    margin: 0;
    padding: 0;
    min-height: 22px;
    /* min-width: 1200px; */
    display: flex;
    justify-content: center;
    margin: 0;
}
/* .amazing-header::after {    
display: block;
width: 60px;
height: 3px;
background: #f38181;
content: "";
margin-left: 128px;
margin-top: 30px;
} */
.header-underline {
    display: flex;
    justify-content: center;
    width: 60px;
    height: 3px;
    background: #f38181;
    }
.amazing-list {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  margin: 0;
  padding: 0;
  min-height: 340px;
 
}
.amazing-list li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;

  list-style: none;
  flex-basis: 400px;
  padding-left: 100px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  max-width: 400px;
  min-height: 84px;
}

.amazing-list li::before {
position: absolute;
  content: "";
  /* display: flex; */
  /* background-image: url(../icon/ALARM.png); */
  transform: translate( -70px, -40px );
  top: 40px;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.amazing-list li:nth-child(1)::before {
  background-image: url(../icon/ALARM.png);
}
.amazing-list li:nth-child(2)::before {
    background-image: url(../icon/LINE-GRAPH.png);
  }
  .amazing-list li:nth-child(3)::before {
    background-image: url(../icon/COMPUTER\ _OK.png);
  }
  .amazing-list li:nth-child(4)::before {
    background-image: url(../icon/BOOK-2.png);
  }
  .amazing-list li:nth-child(5)::before {
    background-image: url(../icon/HOME.png);
  }
  .amazing-list li:nth-child(6)::before {
    background-image: url(../icon/IMAGE.png);
  }
  .container h4{
margin: 0;
font-family: montserrat;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    text-transform: uppercase;
  }
  

.amazing-list-property {
    font-family: roboto;
    font-size: 15px;
    font-weight: 400; 
    line-height: 24px;
    margin: 0;
    max-width: 290px;
}

.team-list-item {
  list-style: none;
  position: relative;
  
 
}

.team-under-header {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-style: roboto;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  text-align: center;
  max-width: 950px;
  min-height: 85px;
  margin: 0;
  
}
.container p {
  color: #999999;
  margin: 0;
}
.team-unit {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* position: relative; */
  /* justify-content: space-between; */
 
}
.translate-window {
  position: relative;
  width: 380px;
  height: 470px;
  transition: transform 200ms linear;
  z-index: 1;
}
.modal-menu {
  display: none;
  height: 470px;
  width: 380px;
  background-image: linear-gradient( rgba(243, 129, 129, 0.9), rgba(252, 227, 138, 0.9) );
  position: absolute;
  top: 0;
  left: 0;
  /* transition: display 200ms linear; */
  }
  .translate-window:hover {
    transition: transform 200ms linear;
    transform: translate(-10px, -10px);
    cursor: pointer;
  }
.team-unit:hover .modal-menu {
  display: block;
  /* transition: display 200ms linear; */
  
}
.modal-background {
  display: block;
  height: 470px;
  width: 380px;
  background-color: #95e1d3;
  position: absolute;
  top: 0;
  left: 0;
}
.team-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  min-height: 720px;
  
}
.team-unit-position {
  font-family: roboto;
  font-size: 15px;
  font-weight: 200;
  line-height: 24px;
}

.team-list-signature {
  display: flex;
  min-height: 50px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}




.modal-menu-item li {
  transition-property: background;
  transition-duration: 200ms;
  transition-timing-function: linear;
  transition-delay: 0;
}
.modal-menu-item li:hover {
    transition-property: background;
    transition-duration: 200ms;
    transition-timing-function: linear;
    transition-delay: 0;
background: #95e1d3;
cursor: pointer;
}
.modal-menu-icon {
  position: absolute;
}
.modal-menu-item {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-between;
  height: 55px;
  width: 225px;
  z-index: 2;
  margin: 0;
  padding: 0;
  
}

.modal-menu-item li {
   width: 55px;
  height: 55px;
  list-style: none;
  background: rgb(252, 227, 138);
}
.modal-menu-item a {
  display: block;
  width: 55px;
  height: 55px;
  background-repeat: no-repeat;
  background-position: center;
}
.facebook-icon a {
  background-image: url(../icon/facebook.png);
  }
.twitter-icon a {
  background-image: url(../icon/twitter.png);
  
}
.pinterest-icon a {
  background-image: url(../icon/pinterest.png);
  
}
.instagram-icon a {
  background-image: url(../icon/instagram.png);
  
}
.team-list-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 560px;

}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #e5e5e5;
  min-height: 65px;
  font-family: montserrat;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  color: #000;
}

.site-signature {
  display: flex;
  justify-content: flex-start;
  
}
.site-signature a {
  text-decoration: none;
  padding-left: 3px;
  color: #f38181;
  
}
.site-signature-copyright {
  margin: 0;
}
.input-block {
  font-size: 0;
}
.input-block input{
  color: #cccccc;
  border: 1px solid #e5e5e5;
  height: 40px;
  width: 230px;
  padding: 12px;
  font-family: roboto;
  font-weight: 200;
  font-style: italic;
  font-size: 15px;
  line-height: 24px;
  border-right: none;
}

.input-block button {
  width: 150px;
  height: 40px;
  font-family: montserrat;
  font-size: 14px;
  line-height: 17px;
  border-style: none;
  background: #95e1d3;
  color: #ffffff;
  cursor: pointer;
}